
.header {
    padding: 15px 0;
    background-color: white;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.person-text {
    color: blue;
}
.person {
    color: grey;
    
}
.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
 .form-head {
    min-height: calc(100% - 70px);
    color: white;
    flex-flow: column wrap;
    align-content: center;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
 }